 @import "tailwindcss";

:root {
  --color-primaryGreen: #96CA2D;
  --color-primaryBrown: #FFD449;
}

html {
  scroll-behavior: smooth;
}


body {
  font-family: var(--font-poppins), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


